.container-menu {
  background-color: #353a47;
  height: 40px;
}

.link-menu {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #353a47;
}

.link-menu:hover {
  background-color: #8af3ff;
  color: #353a47;
}
